.upcomming-items {
    width: 50vw;
}

#upcomming {
    height: 93.2vh;
}

@media (max-width:600px) {
    .upcomming-items {
        width: 90%;
    }

    #upcomming {
        margin-left: 0px;
    }
}