.add-todo-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 50vw;
}

@media (max-width:600px) {
    .add-todo {
        margin: 0px;
        /* width: 100vw; */
    }

    .add-todo-box {
        width: 90vw;
    }
}